body {
	background-color: #FAFAFA;
}

#main-content {
	min-height: 500px;
	margin-top: 50px;
}

.no-padding {
	padding: 0;
}

.table th, td {
   text-align: center;   
}

.field-error {
	border-color: #FF0000;
	margin-bottom: 10px;	
}

.card-img{
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}

.list-group-item {
    color: #28a745 !important;
    border: none;
    padding: 10px 15px;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    color: #28a745 !important;
}

.list-group-item.active {
    background-color: #f5f5dc !important; 
    color: #28a745 !important;
    border-color: #f5f5dc;
}